.fd_ec_colour_picker {
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: $spacer;

    .popover {
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0;
    }
    .cover {
        position: fixed;
        top: 0px;
        right: 0;
        bottom: 0px;
        left: 0px;
    }

    p, button {
        display: table-cell;
    }

    button {
        float: right;
    }
}
