.fd_ec_colour_picker {
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: $spacer;
    border-bottom: 1px solid black;

    .fd_ec_colour_swatch {
        padding: 5px;
        background-color: white;
        border-radius: 1px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.1);
        display: inline-block;
        cursor: pointer;

        div {
            width: 36px;
            height: 14px;
            border-radius: 2px;
        }
    }

    .popover {
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0;
    }
    .cover {
        position: fixed;
        top: 0px;
        right: 0;
        bottom: 0px;
        left: 0px;
    }

    p, button {
        display: table-cell;
    }

    button {
        float: right;
    }
}