@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#fd_customiser {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000de !important;
    position: fixed;
    bottom: 0;
    right: 100px;
    z-index: 99999999;
    width: 500px;
}

.fd_ec_header {
    background-color: #4C5CFE;
    padding: $spacer;
    text-align: center;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    h3 {
        font-weight: 400;
        color: white;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.fd_ec_body {
    background: #F8F8F8;
    height: 0;
    padding: 0 $spacer * 4;
    transition: all 1s ease;

    &.fd_ec_body_open {
        height: 70vh;
        padding: $spacer * 4 $spacer * 4 $spacer * 10;
        overflow-y: scroll;
    }
}